@font-face {
    font-family: 'Gilroy Semibold';
    src: url('fonts/Gilroy-semiBold/Gilroy-SemiBold.eot');
    src: url('fonts/Gilroy-semiBold/Gilroy-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('fonts/Gilroy-semiBold/Gilroy-SemiBold.woff') format('woff'),
    url('fonts/Gilroy-semiBold/Gilroy-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy Bold';
    src: url('fonts/Gilroy-Bold/Gilroy-Bold.eot');
    src: url('fonts/Gilroy-Bold/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/Gilroy-Bold/Gilroy-Bold.woff') format('woff'),
    url('fonts/Gilroy-Bold/Gilroy-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Museo Sans 300 Light';
    src: url('fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot');
    src: url('fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot?#iefix') format('embedded-opentype'),
    url('fonts/MuseoSansCyrl/MuseoSansCyrl-300.woff') format('woff'),
    url('fonts/MuseoSansCyrl/MuseoSansCyrl-300.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Museo Sans 500 Medium';
    src: url('fonts/MuseoSansCyrl/MuseoSansCyrl-500.eot');
    src: url('fonts/MuseoSansCyrl/MuseoSansCyrl-500.eot?#iefix') format('embedded-opentype'),
    url('fonts/MuseoSansCyrl/MuseoSansCyrl-500.woff') format('woff'),
    url('fonts/MuseoSansCyrl/MuseoSansCyrl-500.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Museo Sans 700 Bold';
    src: url('fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot');
    src: url('fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot?#iefix') format('embedded-opentype'),
    url('fonts/MuseoSansCyrl/MuseoSansCyrl-700.woff') format('woff'),
    url('fonts/MuseoSansCyrl/MuseoSansCyrl-700.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }
@font-face {
    font-family: 'Proxima Nova Light';
    src: url('fonts/ProximaNova/ProximaNova-Light.eot');
    src: url('fonts/ProximaNova/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
    url('fonts/ProximaNova/ProximaNova-Light.woff') format('woff'),
    url('fonts/ProximaNova/ProximaNova-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova Regular';
    src: url('fonts/ProximaNova/ProximaNova-Regular.eot');
    src: url('fonts/ProximaNova/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/ProximaNova/ProximaNova-Regular.woff') format('woff'),
    url('fonts/ProximaNova/ProximaNova-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova Semibold';
    src: url('fonts/ProximaNova/ProximaNova-Semibold.eot');
    src: url('fonts/ProximaNova/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
    url('fonts/ProximaNova/ProximaNova-Semibold.woff') format('woff'),
    url('fonts/ProximaNova/ProximaNova-Semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {    
    margin: 0;
    padding: 0;
}

body {
    background-color: #1E1E28;
    font-family: 'Gilroy Semibold', sans-serif;
}

a {
    text-decoration: none;
}
    

li {
    list-style: none;
}

.block-1 {
    background-image: url(img/block1-background.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 800px;
    position: relative;
}

.container {
    max-width: 1080px;
    padding-left: 4.5%;
    padding-right: 4.5%;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
}

.logo {
    margin-top: 40px;
}

.menu {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.menu__list {
    margin-left:55px;
}

.menu__list:first-child {
    margin-left: 0;
}

.menu__link {
    font-family: "Museo Sans 300 Light", sans-serif;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    line-height: 35px;
    padding: 2px 0;
    opacity: 0.3;
}

.menu__link:hover {
    opacity: 1
}

.menu__link_active {
    border-bottom: solid 2px #c81400;
    opacity: 1;
}

.call {
    margin-top: 55px;
}

.call__number {
    font-family: "Museo Sans 700 Bold", sans-serif;
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0.72px;
}

.call__back {
    font-family: "Museo Sans 300 Light", sans-serif;
    opacity: 0.5;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    line-height: 35px;
}

.call__back:hover {
    opacity: 1;
}

.block-1__content {
    margin: 5% auto;
    width: 70%;
    min-height: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}

h1 {
    font-family: 'Gilroy Semibold', sans-serif;
    color: #ffffff;
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
    text-transform: uppercase;
    letter-spacing: 1.25px;
}

.subheading {
    font-family: 'Museo Sans 500 Medium', sans-serif;
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
    line-height: 35px;
    width: 76%;
    text-align: center;
    margin: 0 auto;
}

.fa-arrow-right {
    font-weight: lighter;
    margin-left: 10px;
}

.button {
    font-family: 'Museo Sans 300 Light', sans-serif;
    margin-top: 10px;
    color: #fffefe;
    font-size: 20px;
    font-weight: 400;
    line-height: 50px;
    height: 50px;
    border-radius: 3px;
    background-color: #c81400;
    display: inline-block;
    box-sizing: border-box;
    padding: 0 20px;
    letter-spacing: -0.2px;
}

.button:hover {
    background-color: #961400;
}

.button:active {
    background-color: #c81400;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color: rgba(255, 254, 254, 0.3);
}

.button:active .strelka-img {
    opacity: 0.3;
}

.strelka-img {
    margin-left: 15px;
}

.icons_wrapper {
    position: absolute;
    width: 100%;
    bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon {
    margin: 0 7.5px;
    opacity: 0.5;
}
.icon:hover {
    opacity: 1;
}

.main__headings {
    font-family: "Gilroy Semibold", sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 45px;
    color: #fffefe;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 50px;
}

.main__headings_adventages {
    margin-top: 0; 
}

.grid {
    
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 350px 350px 350px;
    grid-gap: 10px;
    
}

.grid__item {
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #282832;
    position: relative;
}

.grid__item:hover .grid__img {
    filter: grayscale(0);
}
.grid__item:hover .button_services {
color: rgba(255, 254, 254, 0.3);
}
.grid__item:hover .strelka-img {
    opacity: 0.3;
}

.grid__PortfolioText {
    padding: 51px 59px;
    position: absolute;
    top: 0;
    left: 0;
}

.grid__PortfolioText-p {
    font-family: 'Gilroy Semibold', sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 35px;
    color: #ffffff;
}

.buttonSeeProjects {
    font-family: 'Museo Sans 300 Light', sans-serif;
    width: 290px;
    height: 50px;
    border-radius: 3px;
    border: 1px solid #ffffff;
    text-align: center;
    line-height: 50px;
    color: #fffefe;
    font-size: 20px;
    font-weight: 400;
    background-color: transparent;
    margin: 40px auto 0;
    display: block;
    margin-bottom: 70px;
}

.buttonSeeProjects:hover {
    opacity: 0.5;
}

.discussProject {
    height: 679px;
    background-image:  url(img/backgroundMTD2.png);
    background-position:  center center;
    background-repeat:  no-repeat;
    background-size: cover;
    padding-top: 250px;
    box-sizing: border-box;
}

.discussProject__text {
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
    line-height: 35px;
    margin-left: 185px;
    width: 400px;
}

.discussProject__heading {
    font-family: 'Gilroy Semibold', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px; 
}

.discussProject__span {
    font-family: 'Museo Sans 500 Medium', sans-serif;
    margin-top: 30px;
    margin-bottom: 30px;
    display: inline-block;
    font-size: 24px;
    font-weight: 400;
    line-height: 35px;
}

.grid__img {
    position: absolute;
    bottom: 0;
    right: 0;
    filter: grayscale(100%);
    transition-duration: 0.3s;
}

.grid_servicesText {
    padding: 57px
}

.grid__heading1, .grid__price2 {
    color: #c81400;
    font-family: "Museo Sans 700 Bold", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 25px;
}

.grid__heading2 {
    color: #ffffff;
    font-size: 30px;
    text-transform: uppercase;
    font-family: 'Gilroy Semibold', sans-serif;
    font-weight: 400;
    line-height: 40px;
    margin-top: 7px;
    margin-bottom: 47px;
}

.grid__price1 {
    color: #ffffff;
    font-family: 'Gilroy Semibold', sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 35px;
    display: inline-block;
    margin-right: 21px;
}

.grid__price2 {
    display: inline-block;
    width: 100px;
    height: 46px;
}

.button_services {
    font-family: 'Museo Sans 300 Light', sans-serif;
    color: #fffefe;
    font-size: 20px;
    font-weight: 400;
    line-height: 50px;
    height: 50px;
    box-sizing: border-box;
    padding: 0 20px;
    letter-spacing: -0.2px;
    border:none;
    background: transparent;
    margin-left: -23px;
    margin-top: 50px;
    display: inline-block;
}
.button_services:hover {
    opacity: 0.5;
}
.button_services_calc {
    margin-top: 0;
}


.grid__services_last {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.grid__services_last_heading {
    font-family: 'Gilroy Semibold', sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 40px;
    color: #fff;
}


.grid__services_last_text {
    color: #fffefe;
    font-family: 'Museo Sans 300 Light', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    max-width: 370px;
    margin-top: 28px;
    margin-bottom: 22px;
}

.grid__services_last_text_calc {
    margin-top: 0;
    margin-bottom: 0;
}

.button_services_last {
    max-width: 248px;
    display: block;
}

.grid_calculator {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 350px;
    grid-gap: 7px;
}

.grid_calculator_item {
    background-color: #282832;
    padding: 57px ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.button_square {
    border:none;
    background: rgb(255, 255, 255, 0.1);
    font-family: 'Museo Sans 300 Light', sans-serif;
    margin-top: 10px;
    color: #fffefe;
    font-size: 20px;
    font-weight: 400;
    line-height: 50px;
    height: 50px;
    border-radius: 3px;
    display: inline-block;
    box-sizing: border-box;
    padding: 0 20px;
    letter-spacing: -0.2px;
}


.strelka-img-4 {
    margin-left: 85px;
}


.VR {
    height: 600px;
    background-image:  url(img/backgroundMTD3.jpg);
    background-position:  center center;
    background-repeat:  no-repeat;
    padding-top: 300px;
}

.adventages-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 54px 0;
}

.adventage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subheading_advent {
    text-align: left;
    width: auto;
    margin: 0;
}
@media (max-width: 1000px) {
    .menu__list {
        margin-left:25px;
    }
}



