


* {    
    margin: 0;
    padding: 0;
}

body {
    background-color: #1E1E28;
    font-family: 'Montserrat';
}

a {
    text-decoration: none;
}
    

li {
    list-style: none;
}

.block-1 {
    background-image: url(img/block1-background.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 800px;
}

.container {
    max-width: 1080px;
    padding-left: 4.5%;
    padding-right: 4.5%;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
}

.logo {
    margin-top: 40px;
}

.menu {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.menu-list {
    margin-left:55px;
}

.menu-list:first-child {
    margin-left: 0;
}

.menu-link {
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    line-height: 35px;
    padding: 2px 0;
    opacity: 0.3;
}

.menu-link_active {
    border-bottom: solid 2px #c81400;
    opacity: 1;
}

.menu-link:hover {
    opacity: 1
}

.call {
    margin-top: 55px;
}

.call_number {
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0.72px;
}

.call_back {
    opacity: 0.3;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    line-height: 35px;
}

.call_back:hover {
    opacity: 1;
}

.block-1__content {
    margin: 5% auto;
    width: 70%;
    min-height: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}
.button {
    margin-top: 10px;
    color: #fffefe;
    font-size: 20px;
    font-weight: 400;
    line-height: 50px;
    height: 50px;
    border-radius: 3px;
    background-color: #c81400;
    display: inline-block;
    box-sizing: border-box;
    padding: 0 23px;
}

.fa-arrow-right {
    font-weight: lighter;
    margin-left: 10px;
}

.block-1__content_p {
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
    line-height: 35px;
}

h1 {
    color: #ffffff;
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
    text-transform: uppercase;
    letter-spacing: 1.25px;
}

main {
 
}

.main__headings {
    font-size: 40px;
    font-weight: 700;
    line-height: 45px;
    color: #fffefe;
    text-align: center;
    margin-top: 150px;
}

.grid-portfolio {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 350px 350px 350px;
    grid-gap: 10px;
    margin-bottom: 58px;

}

.grid-projects {
    padding: 51px 59px;
    color: #ffffff;
    font-size: 30px;
    font-weight: 400;
    line-height: 35px;
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    filter: grayscale(100%);
    transition: 0.5s;
}

.grid-projects:hover {
    filter: grayscale(0);
}

.grid-background-image {
    position: absolute;
    top: 0;
    left: 0;
}



.see-projects {
    width: 290px;
    height: 50px;
    border-radius: 3px;
    border: 1px solid #ffffff;
    text-align: center;
    line-height: 50px;
    color: #fffefe;
    /*font-family: "Museo Sans Cyrl -300";*/
    font-size: 20px;
    font-weight: 400;
    background-color: transparent;
    margin: 0 auto;
    display: block;
    margin-bottom: 70px;

}

.see-projects:hover {
    opacity: 0.7;
}


.fz1 {
    height: 679px;
    background-image:  url(img/backgroundMTD2.png);
    background-position:  center center;
    background-repeat:  no-repeat;
    background-size: cover;
}



@media (max-width: 1000px) {
    .menu-list {
        margin-left:20px;
    }

    .fz1-back {
         background-position: top right -150px;
    }
}

.slider {
    position: relative;
    margin: 0 auto;
    height: 350px;
    width: 535px;
}

.slider-img {
    position: absolute;
    display: block;
    opacity: 0;
    animation: imageAnimation 24s linear infinite 0s;

}

.image2 {
    animation-delay: 6s;

}

.image3 {
    animation-delay: 12s;
    
}

.image4 {
    animation-delay: 18s;
}

@keyframes imageAnimation {
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
    }
    8% {
        opacity: 1;
        transform: scale(1.05);
        animation-timing-function: ease-out;
    }
    17% {
        opacity: 1;
        transform: scale(1.1);
    }
    25% {
        opacity: 0;
        transform: scale(1.1);
    }
    100% {
        opacity: 0;
    }
}

